@import '@styles/dark.css';

:root {
    /* Colour Scheme (Primary) */
    --primary-1: 255, 255, 255;
    /* --primary-2: 33, 33, 33; */
    /* #AD2B80 */
    --primary-2: 173, 43, 128;
    --primary-3: 255, 255, 255;
    /* Colour Scheme (Secondary) */
    --secondary-1: 255, 255, 255;
    --secondary-2: 255, 255, 0;
}
